meta {
    -theme-interface-style: light;
    -theme-vibrancy: none;
    -theme-accent-color: false;
}

/* Window UI */
meta.window {
    background-color: hsl(225, 29%, 97%);
    border-color: hsl(225, 29%, 87%);
}
meta.titlebar {
    background: linear-gradient(hsl(225, 29%, 97%), hsl(225, 29%, 93%));
    color: hsl(0, 0%, 69%);
    border-color: hsl(225, 29%, 87%);
}
meta.titlebar.inactive {
}

/* UI Buttons */
meta.button {
    background: linear-gradient(hsl(225, 29%, 97%), hsl(225, 29%, 93%));
    border: linear-gradient(hsl(225, 29%, 87%), hsl(225, 29%, 83%));
    color: hsl(0, 0%, 50%);
}
meta.button.highlighted {
    background: linear-gradient(hsl(225, 29%, 97%), hsl(225, 29%, 93%));
    border: linear-gradient(hsl(225, 29%, 87%), hsl(225, 29%, 83%));
    color: hsl(0, 0%, 50%);
}
meta.button.selected {
    color: hsl(0, 0%, 50%);
}
meta.button.highlighted.selected {
    color: hsl(0, 0%, 50%);
}
meta.button.disabled {
    color: hsl(0, 0%, 80%);
}

meta.textfield {
    background-color: hsl(225, 29%, 97%);
    border-color: hsl(225, 29%, 87%);
}
meta.textfield.highlighted {
    background-color: hsl(225, 29%, 97%);
    border-color: hsl(225, 29%, 77%);
}

/* Text editor styles */
meta.document {
    background-color: hsl(225, 29%, 97%);
    border-color: hsla(0, 0%, 100%, 0.1);
}

meta.document.button {
    background: linear-gradient(hsl(225, 29%, 97%), hsl(225, 29%, 93%));
    border: linear-gradient(hsl(225, 29%, 87%), hsl(225, 29%, 83%));
}
meta.document.button.disabled {
    background: linear-gradient(hsla(220, 5%, 25%, 0.3), hsla(220, 5%, 21%, 0.3));
}
meta.document.button.highlighted {
    background: linear-gradient(hsl(225, 29%, 97%), hsl(225, 29%, 93%));
    border: linear-gradient(hsl(225, 29%, 87%), hsl(225, 29%, 83%));
}

meta.document.textfield {
    background: linear-gradient(hsl(225, 29%, 97%), hsl(225, 29%, 93%));
    border: linear-gradient(hsl(225, 29%, 87%), hsl(225, 29%, 83%));
}
meta.document.textfield.highlighted {
    background: linear-gradient(hsl(225, 29%, 97%), hsl(225, 29%, 93%));
    border: linear-gradient(hsl(225, 29%, 87%), hsl(225, 29%, 83%));
}

/* Text */
meta.text {
    color: hsl(293, 14%, 67%);
}
meta.text.invisible {
    color: hsla(0, 100%, 90%, 0.15);
}
meta.text.selected {
    background-color: hsla(0, 14%, 87%, 0.5);
}

/* Cursor */
meta.cursor {
    background-color: hsla(293, 14%, 77%, 0.15);
}

/* Indentation Guides */
meta.indentguide {
    border-color: hsla(220, 5%, 48%, 0.5);
}

/* Gutter */
meta.gutter {
    color: hsl(240, 0%, 75%);
}
meta.gutter.selected {
    background-color: hsla(293, 14%, 87%, 0.3);
    color: hsl(240, 0%, 55%);
}


/* Syntax highlighting */
comment {
    color: hsl(4, 12%, 75%);
}
processing {
    color: hsl(210, 20%, 50%);
}
declaration {
    color: hsl(210, 20%, 50%);
}
bracket {
    color: hsl(4, 12%, 37%);
}
operator {
    color: hsl(360, 87%, 68%);
}
invalid {
    background-color: hsl(0, 90%, 60%);
    color: hsl(60, 33%, 96%);
}
link {
    color: hsl(184, 53%, 48%);
}

/* Keywords */
keyword {
    color: hsl(293, 14%, 67%);
    font-style: italic;
}
keyword.modifier {
    color: hsl(360, 87%, 68%);
    font-style: italic;
}
keyword.condition {
    color: hsl(360, 87%, 68%);
}
keyword.construct {
    color: hsl(161, 30%, 50%);
}
keyword.statement {
    color: hsl(293, 14%, 67%);
}
keyword.self {
    color: hsl(293, 14%, 67%);
}
keyword.self.prefix {
    color: hsl(161, 30%, 40%);
}

/* Values */
value.boolean {
    color: hsl(360, 87%, 58%);
    font-style: italic;
}
value.null {
    color: hsl(360, 87%, 58%);
    font-style: italic;
}
value.number {
    color: hsl(45, 50%, 60%);
}
value.entity {
    color: hsl(184, 53%, 48%);
}
value.symbol {
    color: hsl(184, 53%, 48%);
}

/* Identifiers */
identifier.type {
    color: hsl(41, 73%, 47%);
}
identifier.constant,
identifier.global,
identifier.variable {
    color: hsl(161, 30%, 60%);
}
identifier.constant.prefix,
identifier.global.prefix,
identifier.variable.prefix {
    color: hsl(293, 14%, 67%);
}
identifier.property {
    color: hsl(161, 30%, 60%);
}
identifier.property.prefix {
    color: hsl(240, 100%, 72%);
}
identifier.decorator,
identifier.function,
identifier.method {
    color: hsl(41, 73%, 47%);
}
identifier.key {
    color: hsl(161, 30%, 60%);
}
identifier.argument {
    color: hsl(161, 30%, 60%);
}
identifier.argument.prefix {
    color: hsl(240, 100%, 72%);
}

/* Strings */
string {
    color: hsl(293, 14%, 67%);
}
string.delimiter {
    color: hsl(4, 12%, 37%);
}
string.escape {
    color: hsl(5, 80%, 70%);
}
string.key {
    color: hsl(161, 30%, 60%);
}
string-keyword {
    color: hsl(30, 100%, 50%);
}
string-template {
    color: hsl(360, 87%, 78%);
}
regex {
    color: hsl(30, 100%, 60%);
}
regex.escape {
    color: hsl(30, 100%, 60%);
}
cdata {
    color: hsl(207, 82%, 66%);
}

/* Markup */
markup.heading {
    color: hsl(41, 73%, 47%);
}
markup.line {
    color: hsl(60, 43%, 56%);
}
markup.bold {
    color: hsl(184, 53%, 48%);
}
markup.italic {
    color: hsl(94, 44%, 64%);
    font-style: italic;
}
markup.strikethrough {
    color: hsl(210, 20%, 50%);
}
markup.list.item {
    color: hsl(41, 73%, 47%);
}
markup.code {
    background-color: rgba(128, 128, 128, 0.2);
}
markup.link {
    color: hsl(184, 53%, 48%);
}

/* Types */
definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name {
    
}

/* Members */
definition.property.name {
}
definition.function.name,
definition.method.name {
    
}

/* Tags */
tag {
    color: hsl(160, 30%, 40%);
}
tag.name {
    color: hsl(160, 30%, 60%);
}
tag.framework {
    color: hsl(4, 12%, 57%);
}
tag.framework.name {
    color: hsl(4, 12%, 37%);
}
tag.attribute.name {
    color: hsl(130, 40%, 47%);
}
tag.framework.attribute.name {
    color: hsl(360, 87%, 68%);
}
tag.attribute.value {
    color: hsl(360, 87%, 68%);
}
tag.attribute.value.delimiter {
    color: hsl(4, 12%, 37%);
}
tag.attribute.operator {
    color: hsl(210, 50%, 60%);
}
tag.attribute.value.link {
    color: hsl(360, 87%, 68%);
}

/* Styles */
style.at {
    color: hsl(41, 73%, 47%);
}
style.selector.element {
    color: hsl(161, 30%, 40%);
}
style.selector.identifier.id {
    color: hsl(41, 73%, 47%);
}
style.selector.identifier.class {
    color: hsl(161, 30%, 40%);
}
style.selector.pseudoclass {
    color: hsl(293, 14%, 47%);
}
style.selector.pseudoelement {
    color: hsl(293, 14%, 47%);
}
style.attribute.name {
    color: hsl(293, 14%, 47%);
}
style.value.number {
    color: hsl(360, 87%, 65%);
}
style.value.color.hex {
    color: hsl(184, 53%, 48%);
}
style.value.keyword {
    color: hsl(293, 14%, 47%);
}
style.value.color.named {
    color: hsl(130, 80%, 47%);
}
style.value.identifier.function {
    color: hsl(130, 80%, 47%);
}
